/*laptop*/
@media all and (max-width: 1200px) {}

/*tablet*/
@media all and (max-width: 992px) {
    .bacground {

        background-image: url(https://nerdist.com/wp-content/uploads/2017/07/Rick-and-Morty-NNTB.jpg);
    }
}

/*tablety i telefony*/
@media all and (max-width: 768px) {}

/*smarthpohny*/
@media all and (max-width: 480px) {}

/*media for iphon in google*/
/*DPR device pixel ratio*/
