/**selektor uniwersalny jak target wszystkie elementy*/

/*
*{
    color:red;
}
*/

/*slektor laczoy -bez spacji moze laczyc np elemento klasie element o klasach itd*/

div.uniwersalny {
    color: blue;
}

/*pseudo-elementy - nie ma ich w html*/
p::before {
    content: '*';
}

p::after {

    content: 'fwef';
}

/*font awsome biblioteka z grafikami*/

/*pseudo klasy*/

a:hover {

    color: green;
}

/*aktywne pole formularza*/

input:focus {
    background-color: aqua;
}

ul li:first-child {
    color: orange;
}

ul li:last-child {
    color: orange;
}

ul li:first-of-type {
    color: red;
}

ul li:nth-of-type(3n+1) {
    color: yellow;
}

ul li:nth-last-of-type(odd) {
    color: grey;
}

/*selektor atrybutuow*/
input[title] {
    border: 2px solid black;
}

input[title="nowy"] {
    border: 2px solid red;
}

/*zawiera konkretny ciag*/
input[title ~ ="jest"] {
    border: 2px solid purple;
}

/**/
input[title*="o"] {
    border: 2px solid green;
}

/*zaczyna sie na "1"*/
input[title^="1"] {
    background-color: red;
}

/*konczy sie na 1*/
input[title$="1"] {
    background-color: green;
}

/*pozycjonowanie*/

.main-container-inner {
    height: 200px;
}

.orange {
    background-color: orange;
}

.main-container {
    position: relative;
}

.gray {
    background-color: grey;
}

.orange {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 100%;
}

#main-nav {
    /*    position: fixed;*/
    top: 0;
    left: 0;
    z-index: 1;
    background-color: gray;
    /*    width: 100%;*/
    position: sticky;
}

.jednostki-miary {
    margin-top: 100px;
    font-size: 20px;
}

.jednostki-miary > div {
    background-color: bisque;
    margin-bottom: 10px;
}


#piksele {
    width: 400px;
}

#em {
    width: 20em;
}


#procenty {
    width: 50%;
}

#vh {
    height: 10vh;
}

.w-inner {
    float: left;
}

.wyswietlanie .w-inner {

    display: inline-block;
    height: 300px;
    background-color: rgba(255, 0, 0, 0.5);
    width: 33%;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    /*    transition-delay: 0.5s;*/
}

.wyswietlanie .w-inner:hover {
    width: 50%;
    background-color: rgba(255, 0, 0, 1);
}

.clear {
    clear: both;
}

.box {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;

    transition-property: width height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red:hover {
    width: 300px;
}

.blue:hover {
    height: 300px;
}

.green:hover {
    width: 300px;
    height: 300px;
}

.bacground {
    height: 700px;
    background-image: url('http://digitalspyuk.cdnds.net/18/16/980x490/landscape-1524058250-rick-and-morty-portal.jpg');
    background-repeat: no-repeat;
    background-position: center;
/*    background-size: 100%;*/
    color: aqua;
background-size: cover;
    background-attachment: fixed;
}

.overflow {
    width: 200px;
    height: 100px;
    overflow: auto;
    border: 2px dotted blue;
    /*cokolwiek bysmy nie ustalili border i pading bez zmian defaultowo jest na content-box*/
    box-sizing: border-box;
    
}


